#editor {
    margin: 0 auto;
}

#loading {
    width: 90vw;
    height: 75vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    border: 3px solid #333;
}

#doc {
    /* margin: 15px; */
}

#doc pre {
    background-color: #333;
    border-radius: 5px;
}

#doc pre code {
    margin: 5px;
    color: #eee;
}